[alias]
  br = branch
  co = checkout
  cm = commit -m
  cma = commit --amend
  lg = log --oneline --graph --decorate
  st = status

[user]
	name = andoshin11
	email = shinglish11@gmail.com
[init]
	defaultBranch = main
[pull]
	ff = only
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
